:host{
  display: block;
}

.sample{
  background-color: var(--p-sample-color, red);
  padding: 10px;
}

#Sample.sample__name-is-peter{
  background-color: orange;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

ul > li {
  width: calc(33.333% - 20px);
  display: block;
  padding: 10px;
  margin: 0;
}
